
		<div class="col-xs-3">
	　		<h1>User info</h1>
			<%= attachment_image_tag user, :profile_image, size:"60x60", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "noimage.jpg" %>
	    <h3 class="profile-name">name
	    	<div class="user-name">
	    		<%= user.name %>
	    	</div>
	    </h3>

	    <h3 class="profile-introduction">introduction
	    	<div class="user-introduction">
				<%= user.introduction %>
			</div>
	    </h3>
	    	<% if user == current_user %>

		    	<%= link_to edit_user_path(current_user), class: 'btn btn-default' do %>
		    	<span style="color: black" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		    	<% end %>
		    <% else %>
		    	<%= link_to user_path(current_user), class: 'btn btn-default' do %>
		    	<span style="color: black" class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		    	<% end %>
		    <% end %>

			<h3>New book</h3>

			<div class="form">
				<%= form_for(book) do |f| %>
					<% if book.errors.any? %>
		 				<% book.errors.full_messages.each do |message| %>
		        	<li><%= message %></li>
		    　　	<% end %>
						error
					<% end %>

					<h4>Title</h4>
					<%= f.text_field :title %>

					<h4>Opinion</h4>
					<%= f.text_area :body %>

					<div class="form-button">
						<%= f.submit 'Create Book' %>
					</div>
				<% end %>
			</div>
		</div>